.one{ background-color: yellow;
      width: 200px;
      height: 100px;}

.two { background-color: red;
	 width: 200px;
      height: 100px;
    }  
.tree { background-color: yellow;
      width: 200px;
      height: 100px;}        